.filter-container{
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
}

.listusers-content h1{
  font-size: 24px;
  color: #707070;
  font-weight: 400;
}

.ant-switch .ant-switch-handle::before{
  background-color: #4FA1C1;
}

.ant-switch.ant-switch-checked .ant-switch-inner .ant-switch-inner-checked{
  color: #3A3A3A;
}

.ant-switch .ant-switch-inner .ant-switch-inner-unchecked{
  color: #3A3A3A;
}

.listusers-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0px;
  overflow: auto;
  height: 280px;
}

.card-content{
  display: flex;
  justify-content: space-between;
  background-color: #EDF1F5;
  border-radius: 10px;
}

.card-content Button{
  align-items: center; 
  border: none; 
  height: 100%; 
  color: white;
  background-color: #4FA1C1;
}

.func-info{
  padding:15px;
}

.count-func{
  position: absolute;
  bottom: 0;
  right: 0;
}