.sidebar-container{
  background-color: #4FA1C1;
  justify-content: center;
  height: 768px;
  width: 58px;
  border-radius: 0px 2vh 2vh 0px;
  display: flex;
  flex-direction: column;
}

.ant-tabs-right >.ant-tabs-nav .ant-tabs-ink-bar{
  width: 5px;
}

.ant-tabs-nav-list{
  width: 58px;
}

.ant-tabs-right >.ant-tabs-nav .ant-tabs-tab{
  padding-left: 12px;
}

.ant-tabs-right >.ant-tabs-content-holder{
  border-right: 0px solid;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-disabled {
  cursor: pointer;
}