.sidebar-container{
  background-color: #4FA1C1;
  justify-content: center;
  height: 768px;
  width: 58px;
  border-radius: 0px 2vh 2vh 0px;
  display: flex;
  flex-direction: column;
}

.blank-element{
  background-color: white;
  width: 58px;
  top: 50px;
  left: 0;
  position: absolute;
  height: 41px;
}

.ant-tabs-right{
  >.ant-tabs-content-holder{
    border-right: 0px solid;
  }

  >.ant-tabs-nav{
    .ant-tabs-ink-bar{
      width: 5px;
      background: white;
    }
    .ant-tabs-tab{
      padding-left: 12px;

      .anticon{
        margin-right: 4px;
      }

    }
  }
}

.ant-tabs-nav-list{
  width: 58px;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-disabled {
  cursor: pointer;
}

.badge-icon{
  color: #4FA1C1;
  background-color: white;
  padding: 2px;
  border-radius: 4px;
  z-index: 9999;
  margin-top: 35px;
}