.form-container{
  width: 94%;
  margin-right: 35px;
  margin-left: 20px;
  display: block;
}

.fields-container{
  display:'flex';
  justify-content: space-between;
  align-items: center;
  border: 1px solid #4FA1C1;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);

  .input-form{
    border: 1px solid #4FA1C1;
    border-radius: 10px;
    border-start-start-radius: 10px !important;
    border-end-start-radius: 10px !important;
    width: 100%;
  }
}

.forms-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-container .ant-card-head{
  background-color: #4FA1C1;
  font-size: 28px;
  color: #ffffff;
  font-weight: 400;
}